{% extends 'layout.html' %}

{% block title %}
    Pacotes
{% endblock %}

{% block main %}
    <!-- title -->
    <h1>Pacotes</h1>
    <hr>
    <!-- 1st block -->
    <!-- cols -->
    <div class="d-flex remove-for-ss">
        <!-- left -->
        <div class="texto">
            <h2>🔥 Lapiz Lazuli</h2>
            <hr>
            <h3>Período</h3>
            <hr>
            <ul>
                <li>7 dias = 2k</li>
                <li>14 dias = 5k</li>
                <li>30 dias = 10k</li>
                <li>Permanente = 21k</li>
            </ul>
            <h3>Benefícios</h3>
            <hr>
            <ul>
                <li>Canal exclusivo para divulgar.  (
                    <a class="theme-white" href="{{ urls.iniciante }}">『🌈』┋iniciante</a>
                )</li>
                <li>Cargo destacado na barra lateral.</li>
                <li>Anúncios exclusivos.</li>
                <li>Ganha 15 gemas por semana. (digite -collect-income em
                    <a class="theme-white" href="{{ urls.economia }}">『💰』┋economia</a>
                ) </li>
            </ul>
        </div>

        <!-- center -->
        <div class="texto">
            <h2>🔥 Amethyst</h2>
            <hr>
            <h3>Período</h3>
            <hr>
            <ul>
                <li>7 dias = 9k</li>
                <li>14 dias = 18k</li>
                <li>30 dias = 34k</li>
                <li>Permanente = 50k</li>
            </ul>
            <h3>Benefícios</h3>
            <hr>
            <ul>
                <li>Canal exclusivo para divulgar.  (
                    <a class="theme-white" href="{{ urls.iniciante }}">『🌈』┋iniciante</a>
                )</li>
                <li>Cargo destacado na barra lateral.</li>
                <li>Anúncios exclusivos.</li>
                <li>Ganha 35 gemas por semana. (digite -collect-income em
                    <a class="theme-white" href="{{ urls.economia }}">『💰』┋economia</a>
                ) </li>
                <li>Ganham 2x xp a mais na loritta.</li>
                <li>Tem direito e escolher 2 canais de qualquer categoria (semi-automático).</li>
            </ul>
        </div>

        <!-- right -->
        <div class="texto">
            <h2>❤ Rubi</h2>
            <hr>
            <h3>Período</h3>
            <hr>
            <ul>
                <li>7 dias = 13k</li>
                <li>14 dias = 25k</li>
                <li>30 dias = 49k</li>
                <li>Permanente = 72k</li>
            </ul>
            <h3>Benefícios</h3>
            <hr>
             <ul>
                <li>Canal exclusivo para divulgar.  (
                    <a class="theme-white" href="{{ urls.iniciante }}">『🌈』┋iniciante</a>
                )</li>
                <li>Cargo destacado na barra lateral.</li>
                <li>Anúncios exclusivos.</li>
                <li>Ganha 50 gemas por semana. (digite -collect-income em
                    <a class="theme-white" href="{{ urls.economia }}">『💰』┋economia</a>
                ) </li>
                <li>Requisitos para parceria abaixa para 750 membros.</li>
                <li>Ganham 4x xp a mais na loritta.</li>
                <li>Tem direito e escolher 4 canais de qualquer categoria (semi-automático).</li>
            </ul>
        </div>
    </div>

    <!-- 2nd block -->
    <!-- cols -->
    <div class="d-flex remove-for-ss">
        <!-- left -->
        <div class="texto">
            <h2>🔥 Topazio</h2>
            <hr>
            <h3>Período</h3>
            <hr>
            <ul>
                <li>7 dias = 19k</li>
                <li>14 dias = 39k</li>
                <li>30 dias = 74k</li>
                <li>Permanente = 108k</li>
            </ul>
            <h3>Benefícios</h3>
            <hr>
            <ul>
                <li>Canal exclusivo para divulgar.  (
                    <a class="theme-white" href="{{ urls.supremo }}">『🍭』┋supremo</a>
                )</li>
                <li>Cargo destacado na barra lateral.</li>
                <li>Anúncios exclusivos.</li>
                <li>Ganha 75 gemas por semana. (digite -collect-income em
                    <a class="theme-white" href="{{ urls.economia }}">『💰』┋economia</a>
                ) </li>
                <li>Requisitos para parceria abaixa para 650 membros.</li>
                <li>Ganham 6x xp a mais na loritta.</li>
                <li>Tem direito e escolher 7 canais de qualquer categoria (semi-automático).</li>
            </ul>
        </div>

        <!-- center -->
        <div class="texto">
            <h2>🔥 Vibranium</h2>
            <hr>
            <h3>Período</h3>
            <hr>
            <ul>
                <li>7 dias = 23k</li>
                <li>14 dias = 46k</li>
                <li>30 dias = 88k</li>
                <li>Permanente = 135k</li>
            </ul>
            <h3>Benefícios</h3>
            <hr>
            <ul>
                <li>Canal exclusivo para divulgar.  (
                    <a class="theme-white" href="{{ urls.supremo }}">『🍭』┋supremo</a>
                )</li>
                <li>Cargo destacado na barra lateral.</li>
                <li>Anúncios exclusivos.</li>
                <li>Ganha 125 gemas por semana. (digite -collect-income em
                    <a class="theme-white" href="{{ urls.economia }}">『💰』┋economia</a>
                ) </li>
                <li>Requisitos para parceria abaixa para 500 membros.</li>
                <li>Ganham 8x xp a mais na loritta.</li>
                <li>Tem direito e escolher 9 canais de qualquer categoria (semi-automático).</li>
            </ul>
        </div>

        <!-- right -->
        <div class="texto">
            <h2>❤️ Adamantiumi</h2>
            <hr>
            <h3>Período</h3>
            <hr>
            <ul>
                <li>7 dias = 28k</li>
                <li>14 dias = 57k</li>
                <li>30 dias = 109k</li>
                <li>Permanente = 173k</li>
            </ul>
            <h3>Benefícios</h3>
            <hr>
             <ul>
                <li>Canal exclusivo para divulgar.  (
                    <a class="theme-white" href="{{ urls.supremo }}">『🍭』┋supremo</a>
                )</li>
                <li>Cargo destacado na barra lateral.</li>
                <li>Anúncios exclusivos.</li>
                <li>Ganha 200 gemas por semana. (digite -collect-income em
                    <a class="theme-white" href="{{ urls.economia }}">『💰』┋economia</a>
                ) </li>
                <li>Requisitos para parceria abaixa para 250 membros.</li>
                <li>Ganham 10x xp a mais na loritta.</li>
                <li>Tem direito e escolher 11 canais de qualquer categoria (semi-automático).</li>
            </ul>
        </div>
    </div>

    <!-- 3rd block -->
    <div class="texto">
        <h2>IMPORTANTE!!!</h2>
        <hr>
        <p>
            Todos os pacotes estão baseados em sonhos da <a class="theme-white" href="{{ urls.loritta }}">Loritta</a>.
            Entretanto, podemos negociar outras formas de pagamento, incluindo valores reais.
        </p>
        <h3>Tempo de divulgação semi-automática (DSA)</h3>
        <hr>
        <ul>
            <li>Se comprou durante 7 dias tem direito a 3 dias de DSA</li>
            <li>Se comprou durante 14 dias tem direito a 12 dias de DSA</li>
            <li>Se comprou durante 30 dias tem direito a 26 dias de DSA</li>
            <li>Se comprou permanente tem direito a 2 meses de DSA</li>
        </ul>
        <p>(O padrão de links que podem ter na mensagem são de 2)</p>
        <p>
            Confira possíveis atualizações em:
            <a class="theme-white" href="{{ urls.seja_colecionador }}">#『💎』┋seja-colecionador</a>.
        </p>
    </div>
{% endblock %}
